.playlist-page {
  padding: $page-padding 0;

  .playlist-page__details {
    width: 100%;
    margin-bottom: $gap-lg;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details__title {
      font-family: $font-family-secondary;
      font-size: $font-size-xl;
      line-height: 100%;
      margin-bottom: $gap-sm;
    }

    .details__subtitle {
      font-size: $font-size-sm;
      color: $color-secondary;
    }

    button {
      @include mix-button-primary;
    }
  }

  .playlist-page__song-fields {
    color: $color-tertiary;
    text-transform: capitalize;
    font-size: $font-size-sm;
    padding: 0 $gap-md;
    margin-bottom: $gap-md;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .song-fields__left {
      width: 480px;
      display: flex;

      > div {
        width: 32px;
        text-align: center;
        margin-right: $gap-md;
      }
    }

    .song-fields__middle {
      width: 80px;
      text-align: center;
    }

    .song-fields__right {
      width: 140px;
    }
  }
}
