.home-page {
  position: relative;
  margin-top: $page-padding;
  overflow-x: visible;
  overflow-y: clip;
  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    position: absolute;
    top: 0;
    width: 125%;
    fill: $background-tertiary;
    opacity: 0.3;
    filter: drop-shadow($gap-lg $gap-lg $gap-sm rgba(0, 0, 0, 0.15));
    z-index: -1;
  }
}
