<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <div class="site-title">
            <a class="navbar-brand" href="/"><h1>When3Meet</h1></a>
            <p id="navSubtitle">Now with a personal calendar!</p>
        </div>

        <!--<button aria-label="Navbar Toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>-->

        <!--<div class="collapse navbar-collapse" id="navMenu">-->
        <div id="navMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Event <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
