body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.champ-icon {
  height: 100px;
  margin: -25px -65px -25px -65px;
}

.btn.btn-primary.test {
  color: lightsalmon
}

.league-button-border {
  display: inline-flex;
  position: relative;
  background-color: #000a17;
  padding: 5px;
  border: 1px solid #c8a763;
}

.league-button-border .main {
  shape-outside: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0% 100%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0% 100%);
  background: linear-gradient(#018699, #006284);
  height: 32px;
  min-width: 150px;
  cursor: pointer;
  border: 0;
  font-family: 'Beaufort';
  font-weight: bold;
  font-size: 16px;
  color: #a3c0c0;
  text-transform: uppercase;
  position: relative;
  padding: 0 48px
}

.league-button-border .main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  shape-outside: polygon(2px 2px, calc(100% - 22px) 2px, calc(100% - 4px) 50%, calc(100% - 22px) calc(100% - 2px), 2px calc(100% - 2px));
  clip-path: polygon(2px 2px, calc(100% - 16px) 2px, calc(100% - 3px) 50%, calc(100% - 16px) calc(100% - 2px), 2px calc(100% - 2px));
  background-color: #1e222c;
  height: 32px;
  width: 100%;
  z-index: -1
}

.league-button-border .main:hover {
  background: linear-gradient(#83d7ca, #1f8faf);
  color: #e2e2d8
}

.league-button-border .main:hover::after {
  background: linear-gradient(#000a17, #000a17) padding-box, linear-gradient(#83d7ca, #1f8faf) border-box
}