<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
<body>
<script src="./js/eventsJS.js" defer></script>
<%- include("./partials/nav.ejs")%>
<p>events page</p>
<div>
    <form id="createEventForm">
        <label for="title">Event Title:</label>
        <input id="title" name="title"></textarea>
        <br><br>

        <!--
        <label for="startHour">Start Time:</label>
        <input type="text" id="startHour" name="startHour">
        <input type="text" id="startMinute" name="startMinute">
        <br><br>

        <label for="endHour">End Time:</label>
        <input type="text" id="endHour" name="endHour">
        <input type="text" id="endMinute" name="endMinute">
        <br><br>-->

        <label for="startDate">Date Range Start:</label>
        <input type="date" id="startDate" name="startDate" value="2021-10-10">
        <br><br>

        <label for="endDate">Date Range End:</label>
        <input type="date" id="endDate" name="endDate" value="2021-10-15">
        <br><br>

        <label for="description">Event Description:</label>
        <!--<input type="text" id="description" name="description">-->
        <textarea id="description" form="createEventForm" name="description"></textarea>
        <br>

        <label for="location">Event Location:</label>
        <input type="text" id="location" name="location">
        <br><br>

        <button onclick="submitHandler()" id="submitButton">Submit</button>

    </form>
</div>
<%- include("./partials/footer.ejs")%>
</body>
</html>
