<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Highscore Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Highscore page for the Covids multiplayer arcade game.">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1>HIGHSCORES</h1>
    <a href = "/">
      <button id="return">Login</button>
    </a>
  </body>
</html>

<style>

  body{
     background: rgb(100, 203, 248);
  }
  h1{
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
    margin: 0;
    overflow: hidden;
    }

</style>