<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wish List Home Page</title>
    <meta charset="utf-8" />
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #D1CDCF;
        padding: 10px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
      }
      body {
        background-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <h1 style="color:#8182DB"><center>Welcome, User!</center></h1>
    <div class="grid-container">
      <div class="grid-item">
        <h2 style="left:80px; right:400px; color:#5E5CSD">Clothes</h2>
        <img src="/homeimages/sunflower.png" alt="Sunflower" align="center">
      </div>
    </div>
  </body>
</html>
