<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">    
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Wish List Home Page</title>
    <link rel="icon" href="/WishListLogo.png">

    <meta charset="utf-8" />
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: #D1CDCF;
        padding: 10px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
      }
      body {
        background-color: #ffffff;
      }
    </style>
  </head>
  <body>
        <nav>
        <h4> Wish List</h4>
        
        <ul>
            <li><a href="/register">Logout</a></li>
        </ul>
    </nav>



    <h1 style="color:#8182DB"><center>Welcome, User!</center></h1>
    <div class="grid-container">
      <div class="grid-item">
        <h2 style="left:80px; right:400px; color:#5E5CSD">Clothes</h2>
        <img src="/homeimages/sunflower.png" class= "example" alt="Sunflower" align="center">
      </div>
    </div>
  </body>
</html>
