<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs")%>
    <head>
        <link rel="stylesheet" href="./css/sakura.css" type="text/css">
    </head>
    <body>
        <script src="./js/scripts.js" defer></script>
        <%- include("./partials/nav.ejs")%>
        <div>
            <div id="my-calendar"></div>
            <input type="button" onclick="location.href='/addpersonal';" value="Add Item">
            <div>
                <table style="table-layout: auto;" id="eventsTable">
                    <tr>
                        <th>Your Events</th>
                        <th>Event Date</th>
                        <th>Event Time</th>
                        <th>Location</th>
                    </tr>
                    <tr></tr>
                </table>
            </div>
        </div>
        <%- include("./partials/footer.ejs")%>
    </body>
</html>
