<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")%>
<body>
    <script src="./js/scripts.js" defer></script>
    <%- include("./partials/nav.ejs")%>
    <div id="calendar"></div>
    <table style="table-layout: auto;" id="eventsTable">
    <tr><th>Your Events</th></tr>
    <tr></tr>
    </table>
    <%- include("./partials/footer.ejs")%>
</body>
</html>
