<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Dad Joke</title>

    <script>
console.log("hello world :o");
  
  let isUserEditing = false;
  let taskEditing = '';
  let dateEditing = '';
  let checkEditing = false;
  
  
  function edit_row(no)
  {
      if(!isUserEditing){
   document.getElementById("edit_button"+no).style.display="none";
   document.getElementById("save_button"+no).style.display="block";
      
   var task=document.getElementById("task_row"+no);
   var date=document.getElementById("date_row"+no);
   var check=document.getElementById("edit_checkbox"+no).checked;
      
   var task_data=task.innerHTML;
   var date_data=date.innerHTML;

      
   task.innerHTML="<input type='text' id='task_text"+no+"' value='"+task_data+"'>";
   date.innerHTML="<input type='text' id='due_text"+no+"' value='"+date_data+"'>";
//    check.innerHTML="<input type='checkbox' id='check_text"+no+"' checked="+check+">";
   taskEditing = task_data;
   dateEditing = date_data;
   checkEditing = check;
  
   isUserEditing = true;
      }
      else{
          console.log('can only edit one thing at a time!')
      }
  }
  
  
  
  function save_row(no)
  {
    console.log(document.getElementById("task_row"+no))
    console.log(document.getElementById("task_text"+no))
    console.log(taskEditing)

   var task_val=document.getElementById("task_text"+no).value;
   var due_val=document.getElementById("due_text"+no).value;
   var checked_bool=document.getElementById("edit_checkbox"+no).checked;
  
   document.getElementById("task_row"+no).innerHTML=task_val;
   document.getElementById("date_row"+no).innerHTML=due_val;
   document.getElementById("edit_checkbox"+no).checked=checked_bool;
  
   document.getElementById("edit_button"+no).style.display="block";
   document.getElementById("save_button"+no).style.display="none";
  
   json = { username: '', task: task_val, date: due_val, check: checked_bool, taskEditing: taskEditing, dateEditing: dateEditing, checkEditing: checkEditing},
         body = JSON.stringify(json);
         console.log(body)
   fetch('/editData', {
      method: 'POST',
      headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
      body: body
    })
    .then(res => res) // parse the JSON from the server
    .then(data => {
      });
  
      isUserEditing = false;
  }
  
  function delete_row(no)
  {
      var task_val=document.getElementById("task_row"+no).textContent;
      var date_val=document.getElementById("date_row"+no).textContent;
      var check_val=document.getElementById("edit_checkbox"+no).textContent;
   
  
   json = { username: '', task: task_val, date: date_val, check: check_val},
   body = JSON.stringify(json);
   console.log(body)

  fetch('/deleteData', {
  method: 'POST',
  headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      },
  body: body
  })
  .then(res => res) // parse the JSON from the server
  .then(data => {
  });
  
  document.getElementById("row"+no+"").outerHTML="";
  }
  
  function add_row()
  {
   var new_task=document.getElementById("new_task").value;
   var new_date=document.getElementById("new_due").value;
      
   var table=document.getElementById("data_table");
   var table_len=(table.rows.length)-1;
   var row = table.insertRow(table_len).outerHTML="<tr id='row"+table_len+"'><td colspan=2 id='task_row"+table_len+"'>"+new_task+"</td><td colspan=2 id='date_row"+table_len+"'>"+new_date+"</td><td colspan=2><input type='button' id='edit_button"+table_len+"' value='Edit' class='edit' onclick='edit_row("+table_len+")'> <input type='button' id='save_button"+table_len+"' value='Save' class='save' onclick='save_row("+table_len+")'> <input type='button' id='createsubtask_button"+table_len+"' value='Create Subtask' class='create' onclick='create_sub("+table_len+")'><input type='button' value='Delete' class='delete' onclick='delete_row("+table_len+")'></td><td colspan=2> <input type='checkbox' id='edit_checkbox"+table_len+"' class='check' onclick='check_box('"+table_len+"')'> </td></tr>";
   document.getElementById("new_task").value="";
   document.getElementById("new_due").value="";

  json = { username: '', task: new_task, date: new_date, check: false},
         body = JSON.stringify(json);
         console.log(body)

   fetch('/newData', {
            method: 'POST',
            headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                  },
            body: body
          })
          .then(res => res) // parse the JSON from the server
          .then(data => {
            });
  }
  
  function add_rowFromServer(task, due, check)
  {
   var table=document.getElementById("data_table");
   var table_len=(table.rows.length)-1;
   var checkString = ''
   if(check){
    checkString = 'checked'
   }
   var row = table.insertRow(table_len).outerHTML="<tr id='row"+table_len+"'><td colspan=2 id='task_row"+table_len+"'>"+task+"</td><td colspan=2 id='date_row"+table_len+"'>"+due+"</td><td colspan=2><input type='button' id='edit_button"+table_len+"' value='Edit' class='edit' onclick='edit_row("+table_len+")'> <input type='button' id='save_button"+table_len+"' value='Save' class='save' onclick='save_row("+table_len+")'> <input type='button' id='createsubtask_button"+table_len+"' value='Create Subtask' class='create' onclick='create_sub("+table_len+")'><input type='button' value='Delete' class='delete' onclick='delete_row("+table_len+")'></td><td colspan=2> <input type='checkbox' id='edit_checkbox"+table_len+"' class='check' "+checkString+" onclick='check_box('"+table_len+"')'> </td></tr>";
  }

  function create_sub(noParent) {
      var new_task=document.getElementById("new_task").value;
      var new_date=document.getElementById("new_due").value;

      var table=document.getElementById("subdirectory"+noParent+"");
      var table_len
      if (table.rows.length === null){
          table_len = noParent+.1
      }else{
          table_len = noParent + (table.rows.length+1)/10;
      }
      var row = table.insertRow(table_len).outerHTML="<tr id='row"+table_len+"'>" +
          "<td colspan=2 id='task_row"+table_len+"'>"+new_task+"</td>" +
          "<td colspan=2 id='date_row"+table_len+"'>"+new_date+"</td>" +
          "<td colspan=2><input type='button' id='edit_button"+table_len+"' value='Edit' class='edit' onclick='edit_row("+table_len+")'>" +
          "<input type='button' id='save_button"+table_len+"' value='Save' class='save' onclick='save_row("+table_len+")'>" +
          "<input type='button' value='Delete' class='delete' onclick='delete_row("+table_len+")'></td>" +
          "<td colspan=2> <input type='checkbox' id='edit_checkbox"+table_len+"' class='check' onclick='check_box('"+table_len+"')'> </td>" +
          "</tr>";

      document.getElementById("new_task").value="";
      document.getElementById("new_due").value="";

  }

  window.onload = function() {
      fetch("/getData")
      .then(response => response.json()) // parse the JSON from the server
      .then(data => {
          for (var i = 0; i < data.length; i++) { 
              add_rowFromServer(data[i].task, data[i].due, data[i].check);
          }
        });
    }

    </script>

</head>
<body>
<div class="navbar">

</div>
<div class="container">
    <%-body%>
</div>
</body>
</html>