<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="./style.css">
    <title>TaskMaster</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
    <script>
console.log("hello world :o");
  
  let isUserEditing = false;
  let taskEditing = '';
  let dateEditing = '';
  let checkEditing = false;

  const row_ID_map = new Map()
  
  
  function edit_row(id)
  {
    var row = document.getElementById(id)
      if(!isUserEditing){
   row.getElementsByClassName("edit")[0].style.display="none";
   row.getElementsByClassName("save")[0].style.display="block";
      

      var task=row.cells[0];
      var date=row.cells[1];
      var check=row.cells[3].textContent;
      
   var task_data=task.innerHTML;
   var date_data=date.innerHTML;

      
   task.innerHTML="<input type='text' id='task_text"+id+"' value='"+task_data+"'>";
   date.innerHTML="<input type='text' id='due_text"+id+"' value='"+date_data+"'>";
//    check.innerHTML="<input type='checkbox' id='check_text"+no+"' checked="+check+">";
   taskEditing = task_data;
   dateEditing = date_data;
   checkEditing = check;
  
   isUserEditing = true;
      }
      else{
          console.log('can only edit one thing at a time!')
      }
  }
  
  
  
  function save_row(id)
  {
    var row = document.getElementById(id)

    // console.log(document.getElementById("task_row"+no))
    // console.log(document.getElementById("task_text"+no))
    console.log(taskEditing)

   var task_val=document.getElementById("task_text"+id).value;
   var due_val=document.getElementById("due_text"+id).value;
   var checked_bool=row.cells[3].checked;
  
   row.cells[0].innerHTML=task_val;
   row.cells[1].innerHTML=due_val;
   row.cells[3].checked=checked_bool;
  
   row.getElementsByClassName("edit")[0].style.display="block";
   row.getElementsByClassName("save")[0].style.display="none";
  
   json = { username: '', task: task_val, date: due_val, check: checked_bool, taskEditing: taskEditing, dateEditing: dateEditing, checkEditing: checkEditing},
         body = JSON.stringify(json);
         console.log(body)
   fetch('/editData', {
      method: 'POST',
      headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
      body: body
    })
    .then(res => res.json()) // parse the JSON from the server
    .then(data => {
      });
  
      isUserEditing = false;
  }
  
  function delete_row(id)
  {
      var children = document.getElementsByClassName("child-" + id)
      for(let i = 0; i < children.length; i++){
          delete_row(children[i].id)
      }
      var row = document.getElementById(id)
      var task_val=row.cells[0].textContent;
      var date_val=row.cells[1].textContent;
      var check_val=row.cells[3].textContent;
   
  
   json = { username: '', task: task_val, date: date_val, check: check_val},
   body = JSON.stringify(json);
   console.log(body)

  fetch('/deleteData', {
  method: 'POST',
  headers: {
        'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json'
      },
  body: body
  })
  .then(res => res.json()) // parse the JSON from the server
  .then(data => {
  });
  
  var key = row_ID_map.get(id)
  row_ID_map.delete(id)
  row_ID_map.delete(key)
  item = document.getElementById(id).outerHTML="";
  }
  
  function add_row()
  {
   var new_task=document.getElementById("new_task").value;
   var new_date=document.getElementById("new_due").value;
      
   var table=document.getElementById("data_table");
   var table_len=(table.rows.length)-1;
   document.getElementById("new_task").value="";
   document.getElementById("new_due").value="";

  json = { username: '', task: new_task, date: new_date, check: false},
         body = JSON.stringify(json);
         console.log(body)

   fetch('/newData', {
            method: 'POST',
            headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                  },
            body: body
          })
          .then(res => res.json()) // parse the JSON from the server
          .then(data => {
                var row = table.insertRow(table_len).outerHTML="<tr style='background-color:Tan' id='row"+table_len+"'" + 'class="parent" title="Click to expand/collapse" style="cursor: pointer;"'+"><td colspan=2 id='task_row"+table_len+"'>"+new_task+"</td><td colspan=2 id='date_row"+table_len+"'>"+new_date+"</td><td colspan=2><input type='button' id='edit_button"+table_len+"' value='Edit' class='edit'"+' onclick="edit_row('+"'row"+table_len+
            "')"+'"'+"> <input type='button' id='save_button"+table_len+"' value='Save' class='save'"+' onclick="save_row('+"'row"+table_len+
            "')"+'"'+"> <input type='button' id='createsubtask_button"+table_len+"' value='Create Subtask' class='create' onclick='create_sub("+table_len+")'><input type='button' value='X' class='delete'" + ' onclick="delete_row(' + "'row"+table_len+"')" + '"' + "></td><td colspan=2> <input type='checkbox' id='edit_checkbox"+table_len+"' class='check' onclick=check_box('row"+table_len+"')> </td></tr>";
                row_ID_map.set("'row"+table_len+"'", data._id)
                row_ID_map.set( data._id, "'row"+table_len+"'")
            });
  }
  
  function add_rowFromServer(_id, task, due, check)
  {
   var table=document.getElementById("data_table");
   var table_len=(table.rows.length)-1;
   var checkString = ''
   if(check){
    checkString = 'checked'
   }
   var row = table.insertRow(table_len).outerHTML=
   "<tr style='background-color:Tan' id='row"+table_len+"'" + 'class="parent" title="Click to expand/collapse" style="cursor: pointer;"' + "><td colspan=2 id='task_row"+table_len+"'>"+task+
    "</td><td colspan=2 id='date_row"+table_len+"'>"+due+
        "</td><td colspan=2><input type='button' id='edit_button"+table_len+
            "' value='Edit' class='edit'"+' onclick="edit_row('+"'row"+table_len+
            "')"+'"'+"> <input type='button' id='save_button"+table_len+
            "' value='Save' class='save'"+' onclick="save_row('+"'row"+table_len+
            "')"+'"'+"> <input type='button' id='createsubtask_button"+table_len+
            "' value='Create Subtask' class='create' onclick='create_sub("+table_len+
            ")'><input type='button' value='X' class='delete'" + ' onclick="delete_row(' + "'row"+table_len+
            "')" + '"' + "></td><td colspan=2> <input type='checkbox' id='edit_checkbox"+table_len+"' class='check' "
                +checkString+" onclick=check_box('row"+table_len+"')> </td></tr>"
   row_ID_map.set("'row"+table_len+"'", _id)
   row_ID_map.set( _id, "'row"+table_len+"'")
}

  function create_sub(noParent) {
      var table=document.getElementById("data_table");
      var new_task=document.getElementById("new_task").value;
      var new_date=document.getElementById("new_due").value;

      var parent=document.getElementById("row"+noParent+"");

      json = { username: '', task: new_task, date: new_date, check: false, parent: row_ID_map.get("'row" + noParent + "'")},
         body = JSON.stringify(json);
         console.log(body)
         console.log(row_ID_map.get("'row" + noParent +"'"))

      noParent = parent.rowIndex

      var oldChildren = table.getElementsByClassName("child-row"+noParent).length


      fetch('/newData', {
            method: 'POST',
            headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                  },
            body: body
          })
          .then(res => res.json()) // parse the JSON from the server
          .then(data => {
            table.insertRow(noParent+1+oldChildren).outerHTML = "<tr style='background-color:Cyan;' id='child-row"+noParent+"-"+oldChildren + "'" +"class='child-row"+noParent+"' style='display: table-row'><td colspan=2 id='task_row"+noParent+"'>"+new_task+
    "</td><td colspan=2 id='date_row"+noParent+"'>"+new_date+
        "</td><td colspan=2><input type='button' id='edit_button"+noParent+
            "' value='Edit' class='edit'"+' onclick="edit_row('+"'child-row"+noParent+"-"+oldChildren+
            "')"+'"'+"> <input type='button' id='save_button"+noParent+
            "' value='Save' class='save'"+' onclick="save_row('+"'child-row"+noParent+"-"+oldChildren+
            "')"+'"'+"> <input type='button' id='createsubtask_button"+noParent+
            "' value='Create Subtask' class='create' onclick='create_sub("+noParent+
            ")'><input type='button' value='X' class='delete'" + ' onclick="delete_row(' + "'child-row"+noParent+"-"+oldChildren+
            "')" + '"' + "></td><td colspan=2> <input type='checkbox' id='edit_checkbox"+noParent+"' class='check' "
                +''+" onclick=check_box('child-row"+noParent+"-" + oldChildren + "')> </td></tr>"
      
                row_ID_map.set("'child-row"+noParent+"-"+oldChildren+"'", data._id)
                row_ID_map.set( data._id, "'child-row"+noParent+"'")

                if(document.getElementsByClassName("child-row"+noParent).length === 1){
                    toggleAssign("row"+noParent)
                }
            });

      

      document.getElementById("new_task").value="";
      document.getElementById("new_due").value="";
      window.location.reload()
  }

  function add_subrow(_id, task, due, check, parent){
   var table=document.getElementById("data_table");
   var checkString = ''
   var noParent = (row_ID_map.get(parent)).substring(row_ID_map.get(parent).indexOf("row") + 3, row_ID_map.get(parent).length-1)
   noParent = parseInt(noParent)

    var oldChildren = table.getElementsByClassName("child-row"+noParent).length

   if(check){
    checkString = 'checked'
   }
    table.insertRow(noParent+1+oldChildren).outerHTML = "<tr style='background-color:Cyan;' id='child-row"+noParent+"-"+oldChildren + "'" + "class='child-row"+noParent+"' style='display: table-row'><td colspan=2 id='task_row"+noParent+"'>"+task+
    "</td><td colspan=2 id='date_row"+noParent+"'>"+due+
        "</td><td colspan=2><input type='button' id='edit_button"+noParent+
            "' value='Edit' class='edit'"+' onclick="edit_row('+"'child-row"+noParent+"-"+oldChildren+
            "')"+'"'+"> <input type='button' id='save_button"+noParent+
            "' value='Save' class='save'"+' onclick="save_row('+"'child-row"+noParent+"-"+oldChildren+
            "')"+'"'+"> <input type='button' id='createsubtask_button"+noParent+
            "' value='Create Subtask' class='create' onclick='create_sub('child-row"+noParent+
            "')'><input type='button' value='X' class='delete'" + ' onclick="delete_row(' + "'child-row"+noParent+"-"+oldChildren+
            "')" + '"' + "></td><td colspan=2> <input type='checkbox' id='edit_checkbox"+noParent+"' class='check' "
                +''+" onclick=check_box('child-row"+noParent+"-" + oldChildren + "')> </td></tr>"
      
                row_ID_map.set("'child-row"+noParent+"-"+oldChildren+"'", _id)
                row_ID_map.set( _id, "'child-row"+noParent+"'")
  }

  function check_box(id){
    var row = document.getElementById(id)
    var task_val=row.cells[0].textContent;
      var due_val=row.cells[1].textContent;
      var checked_bool=row.cells[3].children[0].checked;
    checkEditing = !checked_bool

    json = { username: '', task: task_val, date: due_val, check: checked_bool, taskEditing: task_val, dateEditing: due_val, checkEditing: checkEditing},
         body = JSON.stringify(json);
         console.log(body)
   fetch('/editData', {
      method: 'POST',
      headers: {
              'Accept': 'application/json, text/plain, */*',
              'Content-Type': 'application/json'
            },
      body: body
    })
    .then(res => res.json()) // parse the JSON from the server
    .then(data => {
      });
  }

  window.onload = function() {
      fetch("/getData")
      .then(response => response.json()) // parse the JSON from the server
      .then(data => {
          for (var i = 0; i < data.length; i++) { 
              if(data[i].parent === null || data[i].parent === ""){
              add_rowFromServer(data[i]._id, data[i].task, data[i].due, data[i].check);
            }
            else {
                add_subrow(data[i]._id, data[i].task, data[i].due, data[i].check, data[i].parent)
            }
          }
          toggleAssign()
        });
    }

    function toggleAssign(id) {
        let search
        if(id === undefined){
            search = 'tr.parent'
        }  
        else{
            search = '#' + id
        }
	            $(search)  
	                .css("cursor", "pointer")  
	                .attr("title", "Click to expand/collapse")  
	                .click(function () {  
	                    $(this).siblings('.child-' + this.id).toggle();  
	                });  
                // $("#plusminus")
                // .click(function () {  
                //     $(this).siblings('.child-' + this.id).toggle();  
                // }); 
	            //$('*[@class^="child-"]').hide().children('td');  
	} 

    </script>



</head>
<body>
<div class="navbar">

</div>
<div class="container">
    <%-body%>
</div>
</body>
</html>
