<!doctype html>
<html lang="en">
  <head>
    <title>View Wish List</title>
    <meta charset="utf-8">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
      body {
        background-color: #ffffff;
        font-family: 'PT Sans', sans-serif;
      }
      
    </style>
  </head>
  <body>
    <button class="btn"><i class="fa fa-home"></i> Home</button>
    <h1 style="color:#8182DB"> <center> List Name </center> </h1>
    <h2 style= "color:#5E5CSD"> Item Name </h2>
    <p style="color:#9E9B9D"> Where it's from + link </p>
    <p style="color:#9E9B9D"> Price </p>
    <p style="color:#9E9B9D"> Picture? </p>
    <img src= "https://m.media-amazon.com/images/I/61bWWg9Jv-L._AC_UL320_.jpg" alt="Example List Clip Art" width="150" height="150">
    
    <h2 style= "text-align:right;color:#5E5CSD"> Item Name </h2>
    <p style="text-align:right; color:#9E9B9D"> Where it's from + link </p>
    <p style="text-align:right;color:#9E9B9D"> Price </p>
    <p style="text-align:right;color:#9E9B9D"> Picture? </p>
    <img src= "https://m.media-amazon.com/images/I/61bWWg9Jv-L._AC_UL320_.jpg" alt="Example List Clip Art" width="150" height="150" align="right">
    
  </body>
</html>