<!doctype html>
<html lang="en">
  <head>
    <title>View Wish List</title>
    <meta charset="utf-8">
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #D1CDCF;
        padding: 10px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
      body {
        background-color: #ffffff;
      }
      
    </style>
  </head>
  
  <body>
    <button class="btn"><i class="fa fa-home"></i> Home</button>
    <h1 style="text-align:left""color:#8182DB"> <center> List Name </center> </h1>
    
    <div class="grid-container">
      <div class="grid-item">
        <h2 style= color:#5E5CSD"> Nicole Sweetheart Neck Cocktail Dress </h2>
        <p style="color:#9E9B9D"> Nordstrom </p>
        <p><a href=https://www.nordstrom.com/s/dress-the-population-nicole-sweetheart-neck-cocktail-dress/5157641?origin=category-personalizedsort&breadcrumb=Home%2FWomen%2FClothing%2FDresses&color=001 >Link</a></p>
        <p style="color:#9E9B9D"> $148 </p>
        <img src="/listimages/blackcocktaildress.png" alt="Cocktail Dress" align="center">
      </div>
      <div class="grid-item">
        <h2 style= "color:#5E5CSD"> Woven Popover Shirt </h2>
        <p style="color:#9E9B9D"> Hollister </p>
        <p><a href=https://www.hollisterco.com/shop/us/p/woven-popover-shirt-42580319?categoryId=166318&seq=02&faceout=prod1>Link</a></p>
        <p style="color:#9E9B9D"> $39.95 </p>
        <img src="/listimages/popovershirt.png" alt="Popover Shirt" align="center">
      </div> 
    </div>
  </body>
</html>
