<!doctype html>
<html lang="en">
  <head>
    <title>View Wish List</title>
    <meta charset="utf-8">
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color: #D1CDCF;
        padding: 10px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
      body {
        background-color: #ffffff;
      }
      
    </style>
  </head>
  
  <body>
    <button class="btn"><i class="fa fa-home"></i> Home</button>
    <h1 style="text-align:left""color:#8182DB"> <center> List Name </center> </h1>
    
    <div class="grid-container">
      <div class="grid-item">
        <h2 style= color:#5E5CSD"> Item Name </h2>
        <p style="color:#9E9B9D"> Where it's from </p>
        <p><a href=https://www.wpi.edu/>Link to Item</a></p>
        <p style="color:#9E9B9D"> Price </p>
        <img src= "https://m.media-amazon.com/images/I/61bWWg9Jv-L._AC_UL320_.jpg" alt="Example List Clip Art" width="150" height="150" align="center">
      </div>
      <div class="grid-item">
        <h2 style= "color:#5E5CSD"> Item Name </h2>
        <p style="color:#9E9B9D"> Where it's from </p>
        <p><a href=https://www.wpi.edu/>Link to Item</a></p>
        <p style="color:#9E9B9D"> Price </p>
        <img src= "https://m.media-amazon.com/images/I/61bWWg9Jv-L._AC_UL320_.jpg" alt="Example List Clip Art" width="150" height="150" align="center">
      </div> 
    </div>
  </body>
</html>
