<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <script src="js/loginscript.js"></script>
    <h1>Login...</h1>
    <div class="login-page">
      <div class="form">
        <input type="text" id="uname" placeholder="username" />
        <input type="password" id="pword" placeholder="password" />
        <button id="loginButton">Login</button>
        <button id="registerButton">Create Account</button>\
        <a href = "/highscore.html">
          <button id="highScorePage">High Scores</button>
        </a>
      </div>
    </div>
  </body>
</html>