<h1>Login here!</h1>
    <form action='/login' method='POST'>
      <input type='text' name='username' value="your username here" aria-label="username">
      <input type='text' name='password' value="your password here" aria-label="password">
      <button>login</button>
    </form>

    <h1>Register here!</h1>
    <form action='/register' method='POST'>
      <input type='text' name='username' value="make a username!" aria-label="username">
      <input type='text' name='password' value="make a password!" aria-label="password">
      <button>register</button>
    </form>