<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="blah.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">   
  </head>
  <body>
    <script src="js/loginscript.js"></script>
    <h1>LOGIN</h1>
    <div class="login-page">
      <div class="form">
        <input type="text" id="uname" placeholder="username" />
        <input type="password" id="pword" placeholder="password" />
        <button id="loginButton">Login</button>
        <button id="registerButton">Create Account</button>
        <a href = "/views/highscore.html">
          <button id="highScorePage">High Scores</button>
        </a>
      </div>
    </div>
  </body>
  
    
  <style>
  body { 
    text-align: center
    font-family: 'Libre Franklin', sans-serif;
    background-color: lightblue; 
    text-shadow: 4px 4px 4px #aaa;
    }
  </style>
</html>