

<h1> Welcome! </h1>
<table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
    <tr>
    <th colspan="2">Main Tasks</th>
    <th colspan="2">Due Date</th>
    <th colspan="2">Modify Tasks</th>
    <th colspan="2">Completed?</th>


</tr>
    
    <tr>
    <td colspan="3"><input type="text" id="new_task" value="a task here!" aria-label="new_task"></td>
    <td colspan="3"><input type="text" id="new_due" value="a task due date here!" aria-label="new_due"></td>
    <td colspan="2"><input type="button" class="add" onclick="add_row();" value="Add Row"></td>
    </tr>
    
    </table>