
<h1> Welcome! </h1>
<table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
    <tr>
    <th>Main Tasks</th>
    <th>Modify Tasks</th>
    <th>Completed?</th>
    </tr>
    
    <tr id="row1">
    <td id="task_row1">Main Task example</td>
    <td>
    <input type="button" id="edit_button1" value="Edit" class="edit" onclick="edit_row('1')">
    <input type="button" id="save_button1" value="Save" class="save" onclick="save_row('1')">
    <input type="button" id="createsubtask_button2" value="Create Subtask" class="create" onclick="save_row('2')">
    <input type="button" value="Delete" class="delete" onclick="delete_row('1')">
    </td>
    <td>
        <input type="checkbox" id="edit_checkbox1" class="check" onclick="check_box('1')">
    </td>
    </tr>

    <tr id="row2">
        <td id="task_row2">Main Task example2</td>
        <td>
        <input type="button" id="edit_button2" value="Edit" class="edit" onclick="edit_row('2')">
        <input type="button" id="save_button2" value="Save" class="save" onclick="save_row('2')">
        <input type="button" id="createsubtask_button2" value="Create Subtask" class="create" onclick="save_row('2')">
        <input type="button" value="Delete" class="delete" onclick="delete_row('2')">
        </td>
        <td>
            <input type="checkbox" id="edit_checkbox2" class="check" onclick="check_box('2')">
        </td>
        </tr>
    
    <tr>
    <td><input type="text" id="new_task" aria-label="new_name"></td>
    <td><input type="button" class="add" onclick="add_row();" value="Add Row"></td>
    </tr>
    
    </table>