@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

div {
display: inline-block;
}

form {
    margin-bottom : 20px;
    margin-top: 0px;
    font-size : 15px;
    font-family: 'PT Sans', sans-serif;
    color: #383838;
}

h3 {
    margin-bottom: 0px;
    font-size : 25px;
    font-family: 'PT Sans', sans-serif;
    color: #383838;
}