html {
    line-height: 1.15;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
    background-color: #49859e;
    font-size: 20px;
    color: white;
    padding: 25px;
    margin: 0;
    overflow: auto;
}

#farm {
    background-color: rgba(255,255,255,0.1);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#farm li {
    margin-bottom: 10px;
}

button {
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: 15px;
    color: white;
}

button:hover {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid #8bd1e8;
}

#roundButton {
    background-color: #96D9FF;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #0065A6;
    outline: none;
    transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#roundButton:hover {
    background-color: #96D9FF;
    cursor: pointer;
    border-color: #003557;
    transform: scale(1.2, 1.2);
}

#roundButton:active {
    border-color: #003557;
    background-color: #FFF;
    transform: translate(30vw);
}

#flyoutMenu {
    width: 30vw;
    height: 100vh;
    background-color: #8bd1e8;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}

#flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

#flyoutMenu h2 a {
    color: #333;
    margin-left: 15px;
    text-decoration: none;
}

/*add: media, button:hover & button:focus, textarea/input, headers, a, table*/
