@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Roboto+Mono:wght@200&display=swap');

body { 
    background-color: gray;
    background-image: url('../resources/arnold-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
           
}

form {
    background-color: #E7E9EB;
    color: black;
    place-self: center;
    grid-area: formArea;
}

#appDiv {
    display: grid;
    
    grid-template-columns: [col0] auto;
    grid-template-rows: [row0] 10% [row1] 5% [row1] 70% [row2] 5% [row3] 10%;


    grid-template-areas:  
        "headerArea"
        "."
        "mainDivArea"
        "."
        "footerArea";
    
    height: 70vw;
}

#headerDiv, #footerDiv {   
    background-image: url('../resources/header-background.jpg');
    background-repeat: repeat-x;
    background-color: black;
    color: white;
    
    width: 100vw;    
    text-align: center;
}

#headerDiv {
    grid-area: headerArea;
}

#footerDiv {
    grid-area: footerArea;
}

#logoDiv {
    grid-area: logoArea;
    background: transparent;
}

#logo {
    width: 300px;
    height: 300px;
    place-self: center;
    background: transparent;
}

.staticButtons {
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
}

#primaryButton {
    grid-area: primaryButtonArea;
    justify-self: center;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secondaryButton {
    grid-area: secondaryButtonArea;
    justify-self: center; 
    background-color: white;
    text-align: center;
}
