@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Roboto+Mono:wght@200&display=swap');

body { 
    background-color: gray;
    background-image: url('../resources/arnold-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
           
}

#appDiv {
    display: grid;
    
    grid-template-columns: [col0] auto;
    grid-template-rows: [row0] 100px [row1] 50px [row1] 600px [row2] 50px [row3] 100px;


    grid-template-areas:  
        "headerArea"
        "."
        "mainDivArea"
        "."
        "footerArea";
    
}

header, footer {   
    background-image: url('../resources/header-background.jpg');
    background-repeat: repeat-x;
    background-color: black;
    color: white;
    
    width: 100vw;    
    text-align: center;
}

header {
    grid-area: headerArea;
}

footer {
    grid-area: footerArea;
}


#logo {
    width: 300px;
    height: 300px;
    grid-area: logoArea;
    place-self: center;
}


#primaryButton {
    grid-area: primaryButtonArea;
    justify-self: center;
    background-color: #42B72A;
    color: black;
    border-color: #42B72A;    
}

#secondaryButton {
    grid-area: secondaryButtonArea;
    justify-self: center; 
    background-color: white;
}
