@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Roboto+Mono:wght@200&display=swap');

#root { 
    background-color: black;
    background-image: url('../resources/arnold-background.jpeg');
    background-size: 700px 500px;
}

form {
    background-color: #E7E9EB;
    color: black;
    place-self: center;
    grid-area: formArea;
}


#logo {
    width: 300px;
    height: 300px;
    grid-area: logoArea;
    place-self: center;
}


#primaryButton {
    grid-area: primaryButtonArea;
    justify-self: center;
    background-color: #42B72A;
    color: black;
    border-color: #42B72A;    
}

#secondaryButton {
    grid-area: secondaryButtonArea;
    justify-self: center; 
    background-color: white;
}
