#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#workoutEntries {
    display: flex;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: auto;
    opacity: 0.9;
    border: none;
}

.workoutEntry {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: height 1s ease-in 0s;
    height: 70px;
    overflow: hidden;
}
tbody:nth-child(odd){
    background: rgba(0,0,0,0.3);
}

tbody tr:hover {
    background: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
}

/*.workoutEntry:active{*/
/*    */
/*}*/


.addWorkout{
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
}

