#loginPage {
    grid-area: mainDivArea;
    display: grid;
    
    grid-template-columns: [col0] 8% [col1] 300px [col2] 40% [col3] 20% [col4] auto;
    grid-template-rows: [row0] 55% [row1] 300px;


    grid-template-areas:  
        ". . . formArea ."
        ". logoArea . formArea .";
}


.buttonHolder {
    text-align: center;
}

form {
    background-color: #E7E9EB;
    color: black;
    place-self: center;
    grid-area: formArea;
}


