#movement_card {
    float: left;
    text-align: center;
    background: #cdcdcda6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}