.genre-card {
  @include mix-shadow-down;
  position: relative;
  width: 240px;
  height: 320px;
  background: $background-primary;
  color: $color-primary;
  text-decoration: none;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  transition: transform $transition-duration $transition-timing-function;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &:hover {
    transform: translateY(-$gap-sm);
  }

  .genre-card__color {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    z-index: -1;
  }

  .genre-card__text {
    font-family: $font-family-secondary;
    text-align: center;
    font-size: 48px;
    line-height: 125%;
    padding: $gap-lg
  }
}
