body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, $font-family-primary, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  line-height: 1.5;
  color: $color-primary;
  fill: $color-primary;
  background: $background-secondary;
}

* {
  box-sizing: border-box;
}
